{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "eslint:recommended",
    "@vue/typescript/recommended",
    "plugin:vue/vue3-recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "withDefaults": "readonly"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": [
    "*.config.js"
  ],
  "overrides": [{
    "files": [
      "*.ts",
      "*.vue"
    ],
    "rules": {
      "no-undef": "off"
    }
  }],
  "rules": {
    "import/prefer-default-export": "off"
  }
}
