{
  "extends": [
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": [
    "*.config.js"
  ],
  "rules": {
    "import/prefer-default-export": "off"
  }
}
