{
  "parser": "vue-eslint-parser",
  "extends": [
    "eslint:recommended",
    "@vue/typescript/recommended",
    "plugin:vue/vue3-recommended",
    "airbnb-base"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "*.config.*"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "withDefaults": "readonly"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [{
    "files": [
      "*.ts",
      "*.vue"
    ],
    "parserOptions": {
      "ecmaVersion": "latest",
      "parser": "@typescript-eslint/parser",
      "project": "tsconfig.json"
    },
    "extends": [
      "airbnb-typescript/base"
    ],
    "rules": {
        "no-undef": "off"
      }
    }
  ],
  "rules": {
    "import/prefer-default-export": "off"
  }
}
